@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    background-color: #051d3b;
    color: #fff;
    font-family:  Inter;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search {
    width: 65%;
    border-width: 0;
    border-radius: 8px;
    padding: 10px;

    background: rgba(255, 255, 255, 0.16);
    color: #98a7be;
}

.miniatura {
    border-radius: 100%;
    height: 32px;
    margin-right: 10px;
}

.right-header {
    display: flex;
    align-items: center; 
    justify-content: space-around;
    padding: 5px;
}