@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    background-color: #051d3b;
    color: #fff;
    font-family:  Inter;
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.search {
    position: static;
    width: 752px;
    border-width: 0;
    padding: 10px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;

    color: #98a7be;
}
/*
.miniatura {
    border-radius: 100%;
    height: 32px;
}

.right-header {
    width: 15%;
    display: flex;
    align-items: center; 
    justify-content: space-around;
    padding: 5px;
}
*/